*.a
*.lib
*.o
*.obj
*.pdb
*.old
*.ccs
*.tmp
*.bak
*.zip
*.gz
*.base
*.def
*.bs
*.exp
*.lds
_tmp*
_build*
tmp*
pm_to_blib
_build
blib
Build
Build.bat
MYMETA.json
MYMETA.yml
META.json
META.yml
MANIFEST
CryptX.c
CryptX-*
/poznamky.txt
/generators/_tmp
/t/openssl/*.der
/t/openssl/*.pem
/t/openssl/*.data
/t/openssl/*.sig
/t/openssl/*.rsa
/Makefile