*.o
*.obj
*.pdb
*.old
*.ccs
*.tmp
*.bak
*.zip
*.gz
*.base
*.def
*.exp
*.lds
_tmp*
_build*
tmp*
generators/_tmp
_build
blib
Build
Build.bat
MYMETA.json
MYMETA.yml
META.json
META.yml
MANIFEST
lib/CryptX.c
CryptX-*
poznamky.txt
t/openssl/*.der
t/openssl/*.pem
t/openssl/*.data
t/openssl/*.sig
t/openssl/*.rsa