*.o
*.obj
*.pdb
*.old
*.ccs
*.tmp
*.bak
*.zip
*.gz
_tmp*
_build*
tmp*
generators/_tmp
_build
blib
Build
Build.bat
MYMETA.json
MYMETA.yml
META.json
META.yml
MANIFEST
lib/CryptX.c
CryptX-*
poznamky.txt